* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  padding: 50px 25px;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.nav-link, .logo {
  font-size: 18px;
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

.logo {
  font-size: 24px;
  margin-right: auto;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 50px;
}

.home-link {
  color: black;
}

.btn {
  width: 65px;
}
